<form [formGroup]="form">
  <mat-form-field>
    <mat-label>Категория</mat-label>
    <mat-select formControlName="category">
      <mat-option *ngFor="let category of categories" [value]="category">{{
        category.title
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Авто</mat-label>
    <mat-select formControlName="auto">
      <mat-option
        *ngFor="let auto of (currentCategory$ | async)?.autos"
        [value]="auto"
      >
        {{ auto.title }}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input formGroupName="range" [rangePicker]="picker">
      <input matStartDate formControlName="start" placeholder="Start date" />
      <input matEndDate formControlName="end" placeholder="End date" />
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Price</mat-label>
    <input matInput formControlName="price" />
  </mat-form-field>
</form>
